.rightContainer {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;

  .radioBtnGroup {
    margin: 20px 30px;
  }

  .jsonViewWrapper {
    padding: 0 20px;
  }

  .contentWrapper {
    height: calc(100% - 72px);
    overflow-y: auto;
  }
}
