.rightContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .header {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;

    .markdownSwitch {
      width: 24px;
      margin: 20px 16px 0 0;
    }

    .autoSave {
      display: flex;
      align-items: center;
      height: 32px;
      margin: 20px 16px 0 0;
      white-space: nowrap;
    }
  }

  .radioBtnGroup {
    margin: 12px 30px;

    label {
      margin-top: 8px;
    }
  }

  .jsonViewWrapper {
    padding: 0 20px;
  }

  .contentWrapper {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}
